* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* #Debug variables */
    --ly-debug-header-light-bg-color:#B6D7E4;
    --ly-debug-header-contrast-bg-color:#D2A741;
    --ly-debug-block1-dark-bg-color:#000085;
    --ly-debug-block1-contrast-bg-color:#E087E8;
    --ly-debug-block_odd-light-bg-color:#FFFFFF;
    --ly-debug-col1-bg-color:#458EF7;
    --ly-debug-col2-bg-color:#F5C3CB;
    --ly-debug-block_even-bg-color: #D3D3D3;
    --ly-debug-contrast-color: #458933;
    --ly-debug-footer-dark-bg-color: #24272A;
    --ly-debug-footer-col1-bg-color: #E18683;
    --ly-debug-footer-col2-bg-color: #55AFA9;
    --ly-debug-footer-col3-bg-color: #A0FCD6;
    --ly-debug-footer-btn-bg-color: #F4B9C2;
}

/* #region debug */
.debug
    * {
        border: 1px dashed black;
    }

#site-header {
        background-color: var(--ly-debug-header-light-bg-color);
    }

#header-content {
        background-color: var(--ly-debug-header-contrast-bg-color);
    }

#section1 {
        background-color: var(--ly-debug-block1-dark-bg-color);
        height: 300px;
    }

#section2 {
        background-color: var(--ly-debug-block_odd-light-bg-color);
        height: 400px;
    }

#col2-1 {
    background-color: var(--ly-debug-col1-bg-color);
}

#col2-2 {
    background-color: var(--ly-debug-col2-bg-color);
}

#section3 {
    background-color: var(--ly-debug-block_even-bg-color);
    height: 400px;
}

#col3-1 {
    background-color: var(--ly-debug-col2-bg-color);
}

#col3-2 {
    background-color: var(--ly-debug-col1-bg-color);
}

#section4 {
    background-color: var(--ly-debug-block_odd-light-bg-color);
    height: 400px;
}

#col4-1 {
    background-color: var(--ly-debug-col1-bg-color);
}

#col4-2 {
    background-color: var(--ly-debug-col2-bg-color);
}

#jumbotron {
        background-color: var(--ly-debug-block1-contrast-bg-color);
    }

.sidebar {
    background-color: var(--ly-debug-sidebar-bg-color);
}
    
main {
    background-color: var(--ly-debug-main-bg-color);
}
    
aside {
    background-color: var(--ly-debug-aside-bg-color);
}

#site_footer {
    background-color: var(--ly-debug-footer-bg-color);
    min-height: 70px;
}
/* #endregion debug */

.container {
    display: flex;
    align-items: center;
}

#logo {
    padding: 0.5em;
    width: 20%;
}

#nav {
    padding: 0.5em;
    text-align: center;
    width: 60%;
}

#login {
    padding: 0.5em;
    text-align: end;
    width: 20%;
}

#site-header {
    min-height: 70px;
}

#header-content {
    width: 70%;
    margin: 0 auto;
}

#section1 {
    width: 100%;
}

#section2 {
    width: 100%;
}

#jumbotron {
    margin: 0 auto;
    width: 50%;
    height: 85%;
}

.db-col {
    width: 70%;
    margin: 0 auto;
    height: 90%;
}

#col2-1 {
    width: 70%;
    height: 100%;
}

#col2-2 {
    width: 30%;
    height:100%;
}

#col3-1 {
    width: 70%;
    height: 100%;
}

#col3-2 {
    width: 30%;
    height:100%;
}

#col4-1 {
    width: 30%;
    height: 100%;
}

#col4-2 {
    width: 70%;
    height:100%;
}
