* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* #Debug variables */
    --ly-debug-header-light-bg-color:#B6D7E4;
    --ly-debug-header-contrast-bg-color:#D2A741;
    --ly-debug-block1-dark-bg-color:#000085;
    --ly-debug-block_odd-light-bg-color:#FFFFFF;
    --ly-debug-col1-bg-color:#458EF7;
    --ly-debug-col2-bg-color:#F5C3CB;
    --ly-debug-block_even-bg-color: #D3D3D3;
    --ly-debug-contrast-color: #458933;
    --ly-debug-footer-dark-bg-color: #24272A;
    --ly-debug-footer-col1-bg-color: #E18683;
    --ly-debug-footer-col2-bg-color: #55AFA9;
    --ly-debug-footer-col3-bg-color: #A0FCD6;
    --ly-debug-footer-btn-bg-color: #F4B9C2;
}

/* #region debug */
.debug {
    * {
        border: 1px dashed black;
    }

    #site_header {
        display: flex;
        align-items: center;
        background-color: var(--ly-debug-header-light-bg-color);
        min-height: 50px;
    }

    #header-content {
        display: flex;
        background-color: var(--ly-debug-header-contrast-bg-color);
        width: 70%;
        margin: 0 auto;
    }

    #site_content {
        background-color: var(--ly-debug-content-bg-color);
        min-height: 200px;
    }

    .sidebar {
        background-color: var(--ly-debug-sidebar-bg-color);
    }
    
    main {
        background-color: var(--ly-debug-main-bg-color);
    }
    
    aside {
        background-color: var(--ly-debug-aside-bg-color);
    }

    #site_footer {
        background-color: var(--ly-debug-footer-bg-color);
        min-height: 70px;
    }
}
/* #endregion debug */

#logo {
    padding-left: 0.5em;
    width: 20%;
}

#nav {
    text-align: center;
    width: 60%;
}

#login {
    padding-right: 0.5em;
    text-align: end;
    width: 20%;
}